/*nav bar*/
@media screen and (max-device-width: 300px)  {
    

}
.nav1 {
     background: aqua;
      border-radius: 20px;
}

.navbarList {
    list-style:none;
    text-align:center;
}

.navLi {
    display: inline;
    padding: 20px 30px;
    display:inline-block;
    height: 40px;
}

.link1 {
    color: white;
    font-size: 24px;
    text-decoration: none;

}

a:hover { 
    background-color: aqua;
}


.list {
    display: inline;
    
}

.l1 {
    text-decoration:none;
}

.container {
    margin: auto;
    width:50%;
}

.unorderList {
    list-style:none;
    text-align:center;
}

.img {
    display: inline-block;
}
